/* ---- GLOBAL TAGS ---- */
*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}
:root{
	--color-blue:#2196F3;
	--color-black:#212121;
	--color-white:#ffffff;
	--color-light-gray:#F5F4FA;
	--color-gray:#757575;
	--color-purple:#24242B;
	--color-black-gray:#626262;;
}
body{
	font-family: Readex Pro, sans-serif;
	font-size: 14px;
	color: var(--color-black);


}
header{
	padding: 10px 0px 20px 0px;
	display:flex;  
}

h2{
	font-size: 36px;
	text-align: center;
	color: var(--color-black);
}
a{
	text-decoration: none;
	color:var(--color-black);
}
p{
	font-size: 26px;
	color: var(--color-black);
}
li{
	list-style-type: none;
}
header li{
	display: inline;
}
footer{
	background-color: var(--color-purple);
}
/* ---- ----------- ---- */

/* ---- HEADER TAGS ---- */
.header_ul_lists{
	
	text-align: right;
}
.header_ul_li_link{
	margin-right: 100px;
}

.header_ul_li_link:hover{
	color: var(--color-blue);
}
.span_blue_title, .span_black_title,.span_white_title,.span_black-gray_title {
	font-size: 24px;
}
.span_black-gray_title{
	font-family: Playfair Display, sans-serif;
	color: var(--color-black-gray);
}
.header_link_title{
	margin: 0px 1000px 0px 120px;
} 
.span_blue_title{
	color: var(--color-blue);
}
.span_black_title{
	color: var(--color-black);
}
.span_white_title {
	color: var(--color-white);
}
/* ---- ----------- ---- */

/* ---- MYWORKS SECTION ---- */
.main_section_myworks{
	text-align: center;
	color: var(--color-white);
	background-color: var(--color-purple);
}

.main_section_h2_white{
	padding: 64px 0px 104px 0px;
	color: var(--color-white);
}
.main_section_div_works, .main_section_div_whatido {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main_section_div_works01, .main_section_div_works02, .main_section_div_works03, .main_section_div_works04,
.main_section_div_works05, .main_section_div_works06, .main_section_div_works07, .main_section_div_works08{
	width: calc(21% - 60px);
	height: 300px;
	border-radius: 15px;
	background-color: var(--color-white);
	margin: 30px ;
}

button{
	font-family: Readex Pro;
	font-size: 26px;
	width: 220px;
	height: 50px;
	border-radius: 10px;
	background-color: var(--color-blue);
	margin: 96px 0px 38px 0px;
}
/* ---- ------- ------- ---- */

/* ---- ABOUTME SECTION ---- */
.main_section_aboutme{
	margin: 123px 0px 0px 0px;
}

.section_div_aboutme{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.section_div_aboutme01{
	width: 556px;
	border-radius: 20px;
	margin: 126px 223px 90px 97px;
	background-color: var(--color-purple);
	display: flex;
	align-items: stretch;

}
.section_div_p_aboutme01{
	font-size: 24px;
	line-height: 139%;
	text-align: center;
	color: var(--color-white);
	padding:90px 100px;
	height: auto;
}
.section_div_aboutme02{
	width: 400px;
	height:400px;
	border-radius: 20px;
	margin: 126px 223px 120px 97px;
	background-color: var(--color-purple);
}
.section_div_p_aboutme02{
	font-size: 24px;
	line-height: 139%;
	text-align: center;
	color: var(--color-white);
	padding:90px 120px;
	height: auto;
}
.section_div_aboutme03{
	width: 1600px;
	height:400px;
	border-radius: 20px;
	margin: 0px 97px 55px 97px;
	background-color: var(--color-purple);
}
.section_div_p_aboutme03{
	font-size: 24px;
	line-height: 139%;
	text-align: center;
	color: var(--color-white);
	padding:90px 120px;
	height: auto;
}
/* ---- ------- ------- ---- */

/* ---- WHATIDO SECTION ---- */
.main_section_whatido{
	background-color: var(--color-light-gray);
	text-align: center;
}
.main_section_h2_black_whatido{
	padding: 30px 0px 268px;
}
.main_section_div_whatido01, .main_section_div_whatido02,
.main_section_div_whatido03, .main_section_div_whatido04{
	width: calc(21% - 60px);
	height: 300px;
	border-radius: 15px;
	background-color: var(--color-white);
	margin: 30px 30px 100px;

}
.main_section_div_whatido03, .main_section_div_whatido04{
	opacity:0.3;
}
.main_section_div_whatido_image{
	padding: 40px;
}
/* ---- ------- ------- ---- */

/* ---- FOOTER SECTION ---- */
.footer_info{
	background-color: #24242B;
	padding:44px 120px 10px 42px;
}
.ul_list_link_address-email, .ul_list_link_address-tel{
	color:var(--color-gray);
}
/* ---- ------ ------ ---- */
